{{ graphite_storage_path }}/log/webapp/*.log {
	su www-data www-data
	daily
	missingok
	rotate 14
	compress
	dateext
	delaycompress
	notifempty
	create 0644 www-data www-data
	sharedscripts
	postrotate
		bash -c 'touch {{ graphite_storage_path }}/log/webapp/*-log.touch'
	endscript
}

{{ graphite_storage_path }}/log/carbon/*.log {
	su www-data www-data
	daily
	missingok
	nocreate
	rotate 7
	compress
	dateext
	delaycompress
	notifempty
	sharedscripts
	postrotate
		bash -c 'systemctl kill --signal=HUP carbon-aggregator.service carbon-cache.service'
	endscript
}
