CONF_DIR={{ grafana.conf_path }}
CONF_FILE={{ grafana.conf_path }}/grafana.ini
DATA_DIR=/var/lib/grafana
LOG_DIR=/var/log/grafana
GRAFANA_GROUP=grafana
GRAFANA_USER=grafana
GRAFANA_HOME=/usr/share/grafana
MAX_OPEN_FILES=10000
PLUGINS_DIR=/var/lib/grafana/plugins
RESTART_ON_UPGRADE=false

